.header{
    margin-top: 20px;
}

.campus{
    background-color: #FFA9A9;
    padding: 10px, 10px, 10px, 10px;
}
.title{
    background-color: #E9FFA9;
    margin-left: 50px;
}

.formsearch{
    margin-top: 200px;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
